<div class="container mt-4">
    <div class="row">
        <div class="card">
                <h2>Signin</h2>
            <div class="card-body">
                <div class="col-md-12">
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter Email" />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="number" class="form-control" id="password" placeholder="Enter Password" />
                        </div>
                        <div class="mb-3">
                            <!-- <input type="submit" class="btn btn-success" /> -->
                            <button class="btn btn-info" (click)="onSignin()">Submit</button>
                            <a routerLink="/signup" class="btn btn-link signup">Signup</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
